#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

h1 {
    color: #5f9ea0
}

h2 {
    color: #a0615f
}

/* form */

form {
    display:table;
}

p {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
}

.photo {
    width: 50%;
    height: auto;
}

.blog{
    width: 100px;
    height: auto;
}

.form-field{
    vertical-align: middle;
}